## Build CSV

In [2]:
import pandas as pd
import requests
import json
import os

In [17]:
dt = pd.read_csv("../data/PASSON.csv",)
dt

,Unnamed: 0,0,1,2,3,4,5
0,0,"{'id': 'NOPASSO', 'sta': {'period': 900, 'peri...","{'id': 'N2PASSO', 'sta': {'period': 900, 'peri...","{'id': 'NXPASSO', 'sta': {'period': 900, 'peri...","{'id': 'O3PASSO', 'sta': {'period': 900, 'peri...","{'id': 'tsPASSO', 'sta': {'period': 900, 'peri...","{'id': 'O3e', 'sta': {'period': 900, 'periodUn..."

In [ ]:
data_json = requests.get("https://172.16.13.224:8443/dms-api/public/v2/data?&from=2024-01-01T00:00:00Z&to=2024-04-01T00:00:00Z&sites=PASSON&dataTypes=base&groups=",
            verify=False).json()
data_json

c:\Users\carlos.diaz\AppData\Local\pypoetry\Cache\virtualenvs\tauxfo-EHC2a-NN-py3.12\Lib\site-packages\urllib3\connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host '172.16.13.224'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [55]:
for i in range(2):
    header_df = pd.DataFrame(columns=['date','id','value','unit','state','validated'])
    df = pd.DataFrame(data_json["data"][i]["sta"]["data"])
    df["id"] = data_json["data"][i]["id"]
    df["unit"] = data_json["data"][i]["sta"]['unit']
    # add concatenation de dataframes
    header_df.to_csv('test_csv_append.csv',
              mode='a',
              header=(not os.path.exists('test_csv_append.csv'))
              )

## Compute optimization rate

In [9]:
data = pd.read_csv("../data/PASSON.csv")
especies = data["id"].unique()
for e in especies:

,Unnamed: 0,value,advalValidated,date,state,validated,id
0,0,144.4,True,2024-01-01T00:15:00Z,C,3,NOPASSO
1,1,0.5,True,2024-01-01T00:30:00Z,A,3,NOPASSO
2,2,0.6,True,2024-01-01T00:45:00Z,A,3,NOPASSO
3,3,0.7,True,2024-01-01T01:00:00Z,A,3,NOPASSO
4,4,0.6,True,2024-01-01T01:15:00Z,A,3,NOPASSO
...,...,...,...,...,...,...,...
43675,8731,23.5,NaN,2024-03-31T23:00:00Z,A,3,tsPASSO
43676,8732,23.2,NaN,2024-03-31T23:15:00Z,A,3,tsPASSO
43677,8733,24.0,NaN,2024-03-31T23:30:00Z,A,3,tsPASSO
43678,8734,23.2,NaN,2024-03-31T23:45:00Z,A,3,tsPASSO
43679,8735,23.2,NaN,2024-04-01T00:00:00Z,A,3,tsPASSO